
<style>
  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

  .sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar-brand{
  font-family:'Raleway', sans-serif ;
}

a:hover{
  color: white;
  
}
#logout{
  color: white;
  background-color: rgb(69, 69, 221);
  border-radius: 10px;
  margin-left: 1100px;
}
</style>
<div class="sticky">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/allyards">Phoenix</a>
      <a id="logout" class="nav-item nav-link active" href="/logout">Logout</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
        </ul>
      </div>
    </div>
  </nav>
</div>
   
    
